*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
h1, h4, h2, input{
 margin-top: 1%;
 margin-left: 2%;
 margin-bottom:  1%;
 color: #404040;
}
h4{
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 2%;
}
label{
    font-family: 'Roboto', sans-serif;
}

input{
  border: none;
  border-bottom: 1px solid;
  border-color:  #d9dce0;
  width: 130px;
  margin-bottom: 2%;
}
input placeholder{
  color: gray;
  outline: none;
}
input:focus {
    outline: none;
}


.formContainer{
background-color: #ece8f3;
border-bottom: 10px solid;
margin: 0;
padding: 0;
align-items: center;
padding-top:  1%;
display: block;
justify-content: center;
padding-left: 25%;
padding-bottom: 15%;
}

.introContainer{

  width: 50%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #d9dce0;
  background-color: white;
  margin: 2%;

}


.emailContainer{
  width: 50%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #d9dce0;
  background-color: white;
  margin: 2%;
}
.nameContainer{
  width: 50%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #d9dce0;
  background-color: white;
  margin: 2%;
}
.phoneContainer{
  width: 50%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #d9dce0;
  background-color: white;
  margin: 2%;
}
.programContainer{
  width: 50%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #d9dce0;
  background-color: white;
  margin: 2%;
}
.semestrContainer{
  width: 50%;
  border: 1px solid;
  border-radius: 10px;
  border-color: #d9dce0;
  background-color: white;
  margin: 2%;
  display:block;
}

button{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #673ab7;
  margin-left: 2%;
font-family: 'Roboto', sans-serif;
}
.line{
  background-color: #673ab7;
  height: 6px;
  margin: 0;
  padding: 0;

}
